services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: flutter_db
      MYSQL_USER: flutter_user
      MYSQL_PASSWORD: root
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  api:
    build: .
    environment:
      DATABASE_URL: mysql+pymysql://flutter_user:root@db:3306/flutter_db
    ports:
      - "8001:8001"
    depends_on:
      - db

volumes:
  db_data:
